<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>{% block title %}Extremoduro{% endblock %}</title>
        {% block stylesheets %}
           <link href="{{ asset('css/app.css')}}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img height="35px" src="https://i.pinimg.com/originals/2a/48/f9/2a48f9051a4082d317b6b2e545e287d3.jpg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active "  href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-link " href="{{path('getAlbums')}}">Listar Albums</a>
                          {% if is_granted('ROLE_ADMIN') %}
                             <a class="nav-link" href="{{path('newAlbum')}}">Crear Album</a>
                          {% endif %}   
                    </div>
                </div>
                <div>
                {% if is_granted('ROLE_USER') %}<h2 class="h2">{{app.user.name}}</h2>{% endif %}                
                </div>
                <div>
                {% if is_granted('ROLE_USER') %}
                    <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
                    {% else %}
                    <a class="nav-link" href="{{path('app_login')}}">Login</a>
                {% endif %}
                </div>
            </nav>
            
            {% block contenido %} {% endblock %}
            {% block js %} {% endblock %}
        </div>
    </body>
</html>